*{
  padding: 0;
  margin: 0;
  font-family: monospace; 
}
body{
  background: #f1efef;
}

/*custom css*/
.customfont{
  font-family: monospace;
}
.login{
  margin-top: -10px;
  width: 100%;
  height: 110%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 3;
  display: none;
}
.login.open{
  display: block;
}
.loginmodal{
  width: 85%;
  height: 40%;
  padding: 30px;
  background: white;
  margin: 140px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  text-align: center;
}
.register{
  margin-top: -10px;
  width: 100%;
  height: 110%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 3;
  display:  block;
}
.register.close{
  display: none;
}
.registermodal{
  width: 85%;
  height: 45%;
  padding: 30px;
  background: white;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
.reglogo{
  border-bottom:1px solid gray;
  width:110px;
   margin-top:-15px;
   color:rgb(221, 63, 168);
}
.regform{
 width: 95%;
}
.btm{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.regbtn{
  border-radius: 5px;
  border:none;
  outline: none;
  color: white;
  margin-top:4%;
 background-color: rgb(226, 43, 165);
}
.reglink{
  cursor: pointer;
  margin-top: 20px;
  font-size: 90%;
}
.loginlogo{
  border-bottom:1px solid gray;
  width:110px;
   margin-top:-15px;
   color:rgb(221, 63, 168);
}
.loginform{
  width: 95%;
}
.loginbtn{
  border-radius: 5px;
  border:none;
  outline: none;
  color: white;
  margin-top:3%;
  margin-left: -20%;
 background: rgb(226, 43, 165);
}
.loginlink{
  cursor: pointer;
  margin-top: 20px;
  font-size: 90%;
}
.img{
  cursor: pointer;
}
.not{
  margin-top: 310px ;
}
.error{
  color: #b13737;
}
.preload{
  background: #ffff url('./preloader.png') no-repeat center center;
  background-size: 70%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: none;
}

@media only screen and (max-width:350px) {
  .reglogo{
    border-bottom:1px solid gray;
    width:75px;
     margin-top:-15px;
     color:rgb(221, 63, 168);
    font-size: 18px;
  }
  .regbtn{
    height: 30px;
    font-size: 10px;
  }
  .reglink{
    margin-left: 10px;
  }
  .loginlogo{
    border-bottom:1px solid gray;
    width:75px;
     margin-top:-15px;
     color:rgb(221, 63, 168);
    font-size: 18px;
  }
  .loginform{
    font-size: 10px;
  }
}